{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.firstname}} {{app.user.lastname}}{% endblock %}
{# {% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.4/dist/css/axentix.min.css">
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %} #}

{% block content %}


    {% for message in app.flashes('message' )%}
    <div class="col-xs4">
    <div class="col-p3 my-2 rounded-2 success">{{message}}</div>

    </div>

      
    {% endfor %}
  <h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8"> Profil de {{app.user.firstname}} {{app.user.lastname}}</h1>
  
    <div class="container mt-5 mb-5 " >
    <div class ="row  "style="display:flex;justify-content:center;">
    <div class ="col-6" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;" >
      <div class="grix xs4 container">
  <div class="col-xs1">Prénom : {{app.user.firstname}}</div>
  <div class="col-xs1">Nom : {{app.user.lastname}}</div>
  <div class="col-xs1">Email: {{app.user.email}}</div>
  <div class="col-xs1">Téléphone: {{app.user.phone}}</div><br>
<div class="col-xs3"><a href="{{path('profile_edit')}}" class="btn btn-primary btn-md  ">Modifier le profil</a></div><br>
<div class="col-xs3"><a href="{{path('pass_edit')}}"class="btn btn-primary btn-md ">Modifier le mot de passe</a></div>


  </div>

    </main>

            

 

{% endblock %}
