{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{app.user.firstname}}
	{{app.user.lastname}}
{% endblock %}



{% block content %}

	{% for message in app.flashes('message' )%}

		<div class="alert alert-success" role="alert">
			{{message}}


		</div>


	{% endfor %}
	<h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Informations personnelles</h1>

	<div class="container-fluid p-0">
		<div class="row d-flex inline-flex " style="padding=20px; margin:20px">

			<section class="d-flex justify-content-center flex-column align-items-center">
				<div class="col-xxl-4 col-xl-5 col-lg-6 col-8 col-md-7" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">

					<div class="col-xs1 mb-2">Prénom :
						<strong>
							{{app.user.firstname}}</strong>
					</div>
					<div class="col-xs1 mt-2 mb-2">Nom :
						<strong>
							{{app.user.lastname}}</strong>
					</div>
					<div class="col-xs1 mt-2 mb-2">Email:
						<strong>
							{{app.user.email}}</strong>
					</div>
					<div class="col-xs1 mt-2 mb-2">Téléphone:
						<strong>
							{{app.user.phone}}</strong>
					</div>
					<div class="col-xs1 mt-2 mb-2">Adresse:
						<strong>
							{{app.user.adresse}}</strong>
					</div><br>
					<div class="d-flex justify-content-center flex-column align-items-center ">
						<div class="col-xs3">
							<a href="{{path('profile_edit')}}" class="btn btn-primary btn-md mt-2 mb-2  ">Modifier le profil</a>
						</div><br>
						<div class="col-xs3">
							<a href="{{path('pass_edit')}}" class="btn btn-primary btn-md mt-2 mb-2  ">Modifier le mot de passe</a>
						</div>
					</div>


				</div>


			</section>
		</div>
	</div>
{% endblock %}
