{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}
{% block css %}
	<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet"/>
	<link
	href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>

{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block js %}
	{# <script src="{{ asset('assets/js/navbar.js') }}"></script> #}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

	<h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Votre panier</h1>
	<div class="container-fluid">
		<section class="d-flex justify-content-center flex-column align-items-center">
			<div class="col-xxl-6 col-xl-7 col-lg-6 col-10 col-md-9" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">

				<h5 class="lead text-center mb-4" style="text-decoration:underline dotted">
					Récaputilatif de votre commande
					{{app.user.firstname}}
					{{app.user.lastname | upper}}
				</h5>
				{# {% if app.user %}
							Bonjour<strong> {{app.user.firstname | upper}}  {{app.user.lastname | upper}}</strong>
							{% endif %} #}


				{# si le length du tableau est  > 0 on a uin elt sinn on n'a rien #}
				{% if items | length >0  %}

					{% for item in items %}


						<div class="recapPanier">
							<div class="row">
								<div class="col-6">

									<img src="{{ vich_uploader_asset(item.circuit,'imageFile') }}" class="card-img-top" alt="..." width="50px" height="130"/>
									<p>
										C ircuit :
										{{item.circuit.title}}
										(x
										{{item.quantity}})</p>
									<p></p>
								</div>
								<p>
									Sous-total:
									{{item.circuit.price * item.quantity}}€
								</p>
							</div>

						</div>

					{% endfor %}

					<p style="font-size:larger;font-weight:bold; color:red">
						Total de votre commande :
						<span style="color:black">{{total}}€</span>

						<a href="{{path('checkout')}}" class="btn d-flex float-end btn-success btn-md">

							<i class="bi bi-trash"></i>Valider et payer &#x2714;
						</a>


					{% endif %}
				</div>
			</section>
		</div>

	{% endblock %}
