{% extends 'base.html.twig' %}


{% block title %}Votre panier
{% endblock %}

{% block content %}

	<h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Vous y êtes presque ...</h1>
	<div class="container-fluid">
		<section class="d-flex justify-content-center flex-column align-items-center">
			<div class="col-xxl-6 col-xl-7 col-lg-6 col-10 col-md-9" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">
				<h5 class="lead text-center mb-4" style="text-decoration:underline dotted">
					Récaputilatif de votre commande
					{{app.user.firstname}}
					{{app.user.lastname | upper}}
				</h5>
		{# si le length du tableau est  <= 0 on affiche rien #}
			<form method="post">
				{% if items | length >0  %}
					{% for item in items %}
						<div class="recapPanier">
							<div class="row">
								<div class="col-3 col-xxs-8 col-xs-8 col-s-8">
									<img src="{{ vich_uploader_asset(item.circuit,'imageFile') }}" class="card-img-top d-none d-md-none d-xl-block d-xxl-block" alt="..." width="50px" height="130"/>
									<p>Circuit :<strong> {{item.circuit.title}}</strong></p>
									<p>Quantité:<strong>* {{item.quantity}}</strong></p>
									<p>Sous-total:<strong>	{{item.circuit.price * item.quantity}}€</strong></p>
									<p>Date de réservation:<strong>	</strong></p>
								</div>
							</div>
						</div>
					{% endfor %}
				{# <td><input type="date" class="form-control" size="30" name="reservation" id="reservation" required /></td> #}
						<div class="total mt-3">
							<p style="font-size:larger;font-weight:bold; color:green">Total de votre commande :<span style="color:black">{{total}}€</span>
							<a href="{{path('checkout')}}" class="btn d-flex float-end btn-success btn-md">
							<i class="bi bi-trash"></i>Valider et payer &#x2714;
							</a>
						</div>
				{% endif %}
			</form>
			</div>
		</section>
	</div>
{% endblock %}
