{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}
{% block css %}
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 

{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block js %}
{# <script src="{{ asset('assets/js/navbar.js') }}"></script> #}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Votre panier</h1>
<div class="container mt-5 mb-5" style="display:flex;justify-content:center">

<div class="col-6"  style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">
<h5 class="lead text-center mb-4" style="text-decoration:underline dotted"> Récaputilatif de votre commande  {{app.user.firstname}}  {{app.user.lastname | upper}} </h5>
{# {% if app.user %}
Bonjour<strong> {{app.user.firstname | upper}}  {{app.user.lastname | upper}}</strong>
{% endif %} #}
 

{# si le length du tableau est  > 0 on a uin elt sinn on n'a rien #}
{% if items | length >0  %}
    <table class="table table-striped">
    <thead> 
        <tr>
        <th>Circuit(s) </th>
        <th>Nbre de personnes </th>
        <th> Prix Unitaire </th>
        <th>Total </th>
        
            {# dernier th vide pour pouvoir mettre des buttons dans le table #}
        <th>  </th>
        </tr>

    </thead>
    <tbody>
        {% for item in items %}
        <tr>
        <td><img src="{{ vich_uploader_asset(item.circuit,'imageFile') }}" class="card-img-top" alt="..." width="50px" height="130"/> {{item.circuit.title}} </td>
        {# <td> <a href="{{path('cart_add', {'id':item.circuit.id})}}" class=" btn btn-success btn-sm"> </td> #}
        <td> {{item.quantity}} 
        <a href="{{path('cart_add', {'id':item.circuit.id})}}" class=" me-1 btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> 
        <a href="{{path('cart_remove', {'id':item.circuit.id})}}" class=" btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i>
        </td>
        <td> {{item.circuit.price}} </td>
        {# <td>  {{item.quantity}}</td> #}
        <td>{{item.circuit.price * item.quantity}} €  </td>
        <td>
      
        </td>
        </tr>
            
        {% endfor %}
        <tfoot>
            <tr>
            <td colspan="3"><strong>Total du panier : {{total}}€</strong> </td>
         
            <td> 
                <a href="{{path('checkout')}}"  class="btn btn-success btn-sm">
                        
            <i class="bi bi-trash"></i>Paiement &#x2714; 
            </a>
      
            <a href="{{path('circuit')}}"  class="btn btn-secondary btn-sm mt-2">
        <i class="bi bi-arrow-bar-left"></i><i class="bi bi-arrow-return-left"></i>Circuits
            </a>
        </td>
            </tr>
        </tfoot>
    </tbody>

</table>
{% else %}
    
<h4>Votre panier est vide !!! </h4>
    <a href="{{path('circuit')}}"  class="btn btn-success btn-sm mt-2">
                                    
<i class="bi bi-trash"></i>Retour aux Circuits
</a>

{% endif %}
</div>
</div>

{% endblock %}