{% extends 'base.html.twig' %}

{% block title %}Hello DomPdfController!{% endblock %}

{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/pdf.css') }}">
{% endblock %}
{% block body %}
<img src="{{asset('images/logo2.png')}}" alt="Logo Sene'Safari" class="mb-5"/>
    <div class="page">
        <img src="{{ asset('IMG/lorem.png')}}" id="lorembackground">
        <div class="h4 text-white" id="titleLorem">
            <span>Lorem<br>By<br><span class="corporate">Lorem</span>
            </span><br>
            {{ "now"|format_datetime('full', 'none', locale='fr')}}
        </div>
        <div id="titleForLorem">
            <span class="display-1 font-weight-bold">
                {{facture.title}}
            </span>
        </div>
    </div>
{% endblock %}
{% endblock %}
