{% extends 'base.html.twig' %}

{% block title %}Liste des Newsletters
{% endblock %}
{% block css %}
	<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
	<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet"/>
	<link href="{{ asset('assets/css/slider.css') }}" rel="stylesheet"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
<div class="row  " style="display:flex;justify-content:center;">
<div class="col-6" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;margin:10px">
<h1 class="text-center mb-3 mt-3">
Liste des  newsletter(s).</h1>
					<table>
						<thead>
							<tr>
								<th>ID</th>
								<th>Titre</th>
								<th>Date</th>
								<th>Catégories</th>
								<th>Inscrits</th>
								<th>Action</th>
							</tr>
						</thead>
					<tbody class="margin:10px">
						{% for newsletter in newsletters %}
						<tr>
					<td>{{newsletter.id}}</td>
					<td>{{newsletter.name}}</td>
					<td>{{newsletter.createdAt|date}}</td>
					<td>{{newsletter.categories.name }}</td>
					<td>{{newsletter.categories.users|length}}</td>
					<td>
						{% if newsletter.isSent == false %}
					<a href="{{path('newsletters_send',{id:newsletter.id})}}">Envoyer</a>
					{% endif %}
						
					
					</td>
							
						{% endfor %}
					</tbody>
					</table>
				</h1>
			</div>
		</div>
	</div>

{% endblock %}
{% block js %}
	<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
	<script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}
