{% block title %}Nous contacter
{% endblock %}

{% block content %}
		<div class="jumbotron mt-5">
			<h6>Nouveau message de contact du site SeneSAFARI</h6>
			<p class="lead">Une personne souhaiterait avoir plus d'infos sur les circuits safari et vient de vous laisser un message . </p>
			<p> Sujet : {{contactF.sujet}}</p>
			<p> Prénom : {{contactF.firstname}}</p>
			<p> Nom : {{contactF.lastname}}</p>
			<p> Email : {{contactF.email}}</p>
			<p> Téléphone : {{contactF.subject}}</p>
			<p> Message : {{contactF.message | nl2br}}</p>
			
			<a href="{{url('home')}}">Retournez sur le site Sene'SAFARI</a>
		</div>
{% endblock %}