{% extends 'base.html.twig' %}

{% block title %}Paiement effectué avec succès &#x1F44F;&#x1F44F;&#x1F44F;{% endblock %}
{% block css %}

<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
{{parent()}}
<div class="recap">
<h5> Nous vous remercions de votre commande effectuée sur le site SeneSAFARI. </h5>
<p>Veuillez trouvez ci-dessous un Récaputilatif de votre paiement ainsi qu'un exemplaire dans votre bo^te mail. </p>
{# <div class="row">
{% for item in items %}
    

<div class="col">
<h4  class="text-center mt-5" style='font-weight:bold;color:#7f5539'>L'équipe SENE'Safari vous remercie de votre commande  et vous dit à très vite dans le pays de la Teranga &#x1F590;&#x1F64F;</h4>
<p> circuits:
{{item.circuit.title}}</p>
<img src="{{ vich_uploader_asset(item.circuit,'imageFile') }}" class="card-img-top" alt="..." width="50px" height="130"/> 
<p>Nbre de personnes : {{item.quantity}}</p>
    
<p>Total du panier : {{total}}€</p>
</div>
{% endfor %}
</div> #}

{% endblock %}
